.App-header {
  /* background-color: #a1b2d4; */
  /* max-width: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


#PawWireframe {
  margin-top: 15in;
  height: 5in;
  width: 7in;
}

