.App-header {
  background-color: #282c34;
  height: 15in;
  width: 10in;
  max-height: 9in;
  /* max-width: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


#PawWireframe {
  margin-top: 25in;
  height: 5in;
  width: 7in;
}

