/* .App-header {
  background-color: #d6788680;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: 
  color: white; }
   */
   
   #formflexbox {
     background-color: #d6788680;
     display: flex;
     flex-direction: column;
     align-items: left;
     justify-content: right;
     color: white; 
   }

   body{
     background-color: #d6788680;
     /* display: flex; */
     /* flex-direction: column; */
     /* align-items: left; */
     /* justify-content: right; */
     color: rgb(21, 19, 19); 
     font-weight: 300;
   }


h1{
  font-family: 'Caveat', cursive;
  color: black;
}

#PawWireframe {
  margin-top: 1in;
  height: 5in;
  width: 7in;
}


#formSub {
  width: 3in;
  height: .5in;
  display: table-column;
  /* margin-left: 100px; */
}



.btnwrap{
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  height: .5in;
}

#backBtn{
  background-color: rgb(231, 231, 231);
  color: rgb(37, 37, 37);
  border-radius: 35%;
  border: 35%;
  width: 100px;
}

#nextBtn{
  background-color: rgb(91, 91, 91);
  color: white;
  border-radius: 35%;
  width: 100px;
}

#blackSide{
  display: flex;
  height: 10in;
  width: 6in;
  background-color: black;
}

